<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Смена пароля</title>
</head>
<body>
  <h1>Смена пароля</h1>
  <form action="/reset-password" method="post">
    <input type="hidden" name="resetToken" value="<%= resetToken %>">
    <label for="newPassword">Новый пароль:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Сменить пароль</button>
  </form>
</body>
</html>